
*.log

*.metadata

*.recommenders

*.classpath

*.project

*.settings

*.svn

*.tar

*.rar

*.gz

*.zip

*.cache

*.lock

*.jnl

*.searchable

*.DS_Store

.idea/

target/

autogen/

conf/

logs/

download/
